In [12]:
import numpy as np
import pandas as pd

In [13]:
train = pd.read_csv('train.csv')
train.head()

,season,date,league_id,league,Team 1,Team2,SPI1,SPI2,proj_score1,proj_score2,...,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2,Outcome
0,2019,01/03/19,1979,Chinese Super League,Shandong Luneng,Guizhou Renhe,48.22,37.83,1.75,0.84,...,22.1,1.0,0.0,1.39,0.26,2.05,0.54,1.05,0.00,1
1,2019,01/03/19,1979,Chinese Super League,Shanghai Greenland,Shanghai SIPG,39.81,60.08,1.22,1.89,...,63.4,0.0,4.0,0.57,2.76,0.80,1.50,0.00,3.26,0
2,2019,01/03/19,1979,Chinese Super League,Guangzhou Evergrande,Tianjin Quanujian,65.59,39.99,2.58,0.62,...,28.8,3.0,0.0,0.49,0.45,1.05,0.75,3.15,0.00,1
3,2019,01/03/19,1979,Chinese Super League,Wuhan Zall,Beijing Guoan,32.25,54.82,1.10,1.79,...,58.9,0.0,1.0,1.12,0.97,1.51,0.94,0.00,1.05,0
4,2019,01/03/19,1979,Chinese Super League,Chongqing Lifan,Guangzhou RF,38.24,40.45,1.57,1.24,...,21.3,2.0,2.0,2.77,3.17,1.05,2.08,2.10,2.10,1

In [14]:
train.shape

(7443, 21)

In [15]:
test = pd.read_csv('test.csv')
test.head()

,season,date,league_id,league,Team 1,Team2,SPI1,SPI2,proj_score1,proj_score2,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2021,14/12/21,2411,BPL,Arsenal,West Ham United,79.65,74.06,1.67,1.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021,14/12/21,2411,BPL,Brighton and Hove Albion,Wolverhampton,74.19,71.14,1.35,0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021,14/12/21,2411,BPL,Norwich City,Aston Villa,60.67,71.45,1.18,1.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021,14/12/21,2411,BPL,Leicester City,Tottenham Hotspur,76.88,79.06,1.52,1.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021,14/12/21,2411,BPL,Brentford,Manchester United,63.53,85.58,0.95,1.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
test.shape

(4008, 20)

In [17]:
train['Outcome'].value_counts()

1    5070
0    2373
Name: Outcome, dtype: int64

In [18]:
train[train['Outcome'] == 0].head()

,season,date,league_id,league,Team 1,Team2,SPI1,SPI2,proj_score1,proj_score2,...,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2,Outcome
1,2019,01/03/19,1979,Chinese Super League,Shanghai Greenland,Shanghai SIPG,39.81,60.08,1.22,1.89,...,63.4,0.0,4.0,0.57,2.76,0.80,1.50,0.00,3.26,0
3,2019,01/03/19,1979,Chinese Super League,Wuhan Zall,Beijing Guoan,32.25,54.82,1.10,1.79,...,58.9,0.0,1.0,1.12,0.97,1.51,0.94,0.00,1.05,0
6,2019,02/03/19,1979,Chinese Super League,Henan Jianye,Dalian Aerbin,35.18,45.83,1.22,1.29,...,41.0,1.0,1.0,0.84,1.65,1.29,1.98,1.05,1.05,0
9,2019,08/03/19,1979,Chinese Super League,Chongqing Lifan,Beijing Guoan,37.51,54.42,1.19,1.67,...,64.3,0.0,4.0,0.54,3.51,0.88,2.61,0.00,3.68,0
17,2019,30/03/19,1979,Chinese Super League,Guizhou Renhe,Beijing Guoan,37.13,57.12,1.05,1.58,...,63.0,0.0,1.0,0.39,1.40,1.28,1.72,0.00,1.05,0

In [19]:
train[train['Outcome'] == 1].head()

,season,date,league_id,league,Team 1,Team2,SPI1,SPI2,proj_score1,proj_score2,...,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2,Outcome
0,2019,01/03/19,1979,Chinese Super League,Shandong Luneng,Guizhou Renhe,48.22,37.83,1.75,0.84,...,22.1,1.0,0.0,1.39,0.26,2.05,0.54,1.05,0.00,1
2,2019,01/03/19,1979,Chinese Super League,Guangzhou Evergrande,Tianjin Quanujian,65.59,39.99,2.58,0.62,...,28.8,3.0,0.0,0.49,0.45,1.05,0.75,3.15,0.00,1
4,2019,01/03/19,1979,Chinese Super League,Chongqing Lifan,Guangzhou RF,38.24,40.45,1.57,1.24,...,21.3,2.0,2.0,2.77,3.17,1.05,2.08,2.10,2.10,1
5,2019,02/03/19,1979,Chinese Super League,Shenzhen FC,Hebei China Fortune FC,31.99,38.75,1.41,1.25,...,24.6,3.0,1.0,1.33,0.65,0.88,1.72,2.61,1.05,1
7,2019,03/03/19,1979,Chinese Super League,Jiangsu Suning FC,Tianjin Teda,51.59,36.92,1.92,0.78,...,25.9,3.0,2.0,3.28,0.62,1.51,0.41,2.61,2.10,1

In [20]:
train['proj_difference'] = train['proj_score1'] - train['proj_score2']

In [21]:
test['proj_difference'] = test['proj_score1'] - test['proj_score2']

In [22]:
train[train['Outcome'] == 0]['proj_difference']

1      -0.67
3      -0.69
6      -0.07
9      -0.48
17     -0.53
        ...
7434   -0.13
7435   -0.89
7437   -0.03
7440   -0.45
7441   -0.24
Name: proj_difference, Length: 2373, dtype: float64

In [23]:
train[train['Outcome'] == 1]['proj_difference']

0       0.91
2       1.96
4       0.33
5       0.16
7       1.14
        ...
7433    0.85
7436    0.59
7438    0.20
7439    0.23
7442    0.82
Name: proj_difference, Length: 5070, dtype: float64

In [28]:
a = pd.DataFrame({'Outcome' : test.apply(lambda x:0 if x.proj_difference < 0 else 1, axis = 1)})
a.head()

   Outcome
0        1
1        1
2        0
3        1
4        0

In [29]:
a.to_csv('Solution1.csv', index = False)